<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPassword</servlet-name>
        <servlet-class>controller.RequestPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProfile</servlet-name>
        <servlet-class>controller.ShowProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankController</servlet-name>
        <servlet-class>controller.BankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletController</servlet-name>
        <servlet-class>controller.WalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiWalletController</servlet-name>
        <servlet-class>API.ApiWalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>controller.TransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticController</servlet-name>
        <servlet-class>controller.StatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallbackController</servlet-name>
        <servlet-class>API.CallbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeMentorController</servlet-name>
        <servlet-class>controller.BecomeMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBecomeMentorController</servlet-name>
        <servlet-class>controller.EditBecomeMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFormController</servlet-name>
        <servlet-class>controller.ViewFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFormController</servlet-name>
        <servlet-class>controller.DeleteFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechargeController</servlet-name>
        <servlet-class>controller.RechargeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeMentorListController</servlet-name>
        <servlet-class>controller.BecomeMentorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeListController</servlet-name>
        <servlet-class>controller.BecomeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followMentor</servlet-name>
        <servlet-class>controller.followMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listFollow</servlet-name>
        <servlet-class>controller.listFollow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRequest</servlet-name>
        <servlet-class>controller.ListRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestProcessing</servlet-name>
        <servlet-class>controller.RequestProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestMentor</servlet-name>
        <servlet-class>controller.RequestMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlotController</servlet-name>
        <servlet-class>controller.AddSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlotController</servlet-name>
        <servlet-class>controller.DeleteSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlotController</servlet-name>
        <servlet-class>controller.UpdateSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeRequest</servlet-name>
        <servlet-class>controller.MakeRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRate</servlet-name>
        <servlet-class>controller.CreateRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorsBySkill</servlet-name>
        <servlet-class>controller.MentorsBySkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillDetail</servlet-name>
        <servlet-class>controller.SkillDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPassword</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProfile</servlet-name>
        <url-pattern>/showProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankController</servlet-name>
        <url-pattern>/bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletController</servlet-name>
        <url-pattern>/wallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiWalletController</servlet-name>
        <url-pattern>/api/wallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticController</servlet-name>
        <url-pattern>/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallbackController</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeMentorController</servlet-name>
        <url-pattern>/becomeMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBecomeMentorController</servlet-name>
        <url-pattern>/editBecomeMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFormController</servlet-name>
        <url-pattern>/viewForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFormController</servlet-name>
        <url-pattern>/DeleteFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechargeController</servlet-name>
        <url-pattern>/recharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorList</servlet-name>
        <url-pattern>/mentorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeMentorListController</servlet-name>
        <url-pattern>/BecomeMentorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeListController</servlet-name>
        <url-pattern>/mentorRequests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MentorList</servlet-name>
        <servlet-class>controller.MentorList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatListServlet</servlet-name>
        <url-pattern>/ChatListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorDetailServlet</servlet-name>
        <url-pattern>/MentorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorServlet</servlet-name>
        <url-pattern>/ViewMentor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewMentorServlet</servlet-name>
        <servlet-class>controller.ViewMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorDetailServlet</servlet-name>
        <servlet-class>controller.MentorDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestMentorServlet</servlet-name>
        <servlet-class>controller.RequestMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>controller.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatListServlet</servlet-name>
        <servlet-class>controller.ChatListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVController</servlet-name>
        <servlet-class>controller.CVController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMoneyOfSlotController</servlet-name>
        <servlet-class>controller.ChangeMoneyOfSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiScheduleController</servlet-name>
        <servlet-class>API.ApiScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CVController</servlet-name>
        <url-pattern>/cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMoneyOfSlotController</servlet-name>
        <url-pattern>/change-money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiScheduleController</servlet-name>
        <url-pattern>/api/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followMentor</servlet-name>
        <url-pattern>/followMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listFollow</servlet-name>
        <url-pattern>/listFollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRequest</servlet-name>
        <url-pattern>/listRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestProcessing</servlet-name>
        <url-pattern>/requestProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestMentor</servlet-name>
        <url-pattern>/RequestMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlotController</servlet-name>
        <url-pattern>/addSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlotController</servlet-name>
        <url-pattern>/deleteSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlotController</servlet-name>
        <url-pattern>/updateSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeRequest</servlet-name>
        <url-pattern>/MakeRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRate</servlet-name>
        <url-pattern>/createRate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestManagement</servlet-name>
        <servlet-class>controller.manager.RequestManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestManagement</servlet-name>
        <url-pattern>/manager/RequestManagement</url-pattern>
    </servlet-mapping>
    <!-- Request Detail Controller -->
    <servlet>
        <servlet-name>RequestDetailController</servlet-name>
        <servlet-class>controller.manager.RequestDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestDetailController</servlet-name>
        <url-pattern>/manager/RequestDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerTransaction</servlet-name>
        <servlet-class>controller.manager.ManagerTransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerTransaction</servlet-name>
        <url-pattern>/manager/TransactionManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageMentorController</servlet-name>
        <servlet-class>controller.manager.ManageMentorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageMentorController</servlet-name>
        <url-pattern>/manager/manageMentor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerMenteeController</servlet-name>
        <servlet-class>controller.manager.ManagerMenteeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerMenteeController</servlet-name>
        <url-pattern>/manager/MenteeManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorsBySkill</servlet-name>
        <url-pattern>/mentorsbyskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillDetail</servlet-name>
        <url-pattern>/SkillDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
